version: '3.8'

services:
  mysqldb:
    image: mysql:8.0
    container_name: book_api_mysqldb_1
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "127.0.0.1", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  redis:
    image: redis:7.2-alpine
    container_name: bookstore_api_redis_1
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  web:
    build: .
    container_name: bookstore-api
    ports:
      - "80:8080"   # hoặc "8080:8080" nếu port 80 bị chiếm
    restart: unless-stopped
    depends_on:
      mysqldb:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      DB_HOST: mysqldb
      DB_PORT: 3306
      DB_NAME: ${MYSQL_DATABASE}
      DB_USER: ${MYSQL_USER}
      DB_PASSWORD: ${MYSQL_PASSWORD}

      REDIS_HOST: redis
      REDIS_PORT: 6379

      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

volumes:
  mysql-data:
  redis-data:
